@font-face {
  font-family: 'royal';
  src:  url('fonts/royal.eot?hv2zoh');
  src:  url('fonts/royal.eot?hv2zoh#iefix') format('embedded-opentype'),
    url('fonts/royal.ttf?hv2zoh') format('truetype'),
    url('fonts/royal.woff?hv2zoh') format('woff'),
    url('fonts/royal.svg?hv2zoh#royal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'royal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  + * {
      margin-left: 5px;
  }
}

.ico-chat:before {
  content: "\e0b7";
}
.ico-photo_library:before {
  content: "\e413";
}
.ico-crop_original:before {
  content: "\e3c4";
}
.ico-dehaze:before {
  content: "\e3c7";
}
.ico-done:before {
  content: "\e876";
}
.ico-filter:before {
  content: "\e3d3";
}
.ico-keyboard_arrow_down:before {
  content: "\e313";
}
.ico-keyboard_arrow_left:before {
  content: "\e314";
}
.ico-keyboard_arrow_right:before {
  content: "\e315";
}
.ico-keyboard_arrow_up:before {
  content: "\e316";
}
.ico-settings:before {
  content: "\e8b8";
}
.ico-view_comfy:before {
  content: "\e42a";
}
.ico-land:before,
.ico-rustico:before,
.ico-terreno:before,
.ico-terreni:before,
.ico-rustici:before {
  content: "\e900";
}
.ico-nude:before,
.ico-negozio:before,
.ico-negozi:before {
  content: "\e901";
}
.ico-office:before,
.ico-capannone:before,
.ico-capannoni:before {
  content: "\e902";
}
.ico-villa:before,
.ico-ville:before {
  content: "\e903";
}
.ico-box:before {
  content: "\e904";
}
.ico-flat:before,
.ico-appartamento:before,
.ico-appartamenti:before {
  content: "\e905";
}
.ico-image:before {
  content: "\e90d";
}
.ico-images:before {
  content: "\e90e";
}
.ico-price-tags:before {
  content: "\e936";
}
.ico-coin-euro:before {
  content: "\e93c";
}
.ico-keyboard:before {
  content: "\e955";
}
.ico-undo2:before {
  content: "\e967";
}
.ico-redo2:before {
  content: "\e968";
}
.ico-spinner2:before {
  content: "\e97b";
}
.ico-cog:before {
  content: "\e994";
}
.ico-menu:before {
  content: "\e9bd";
}
.ico-sphere:before {
  content: "\e9c9";
}
.ico-star-full:before {
  content: "\e9d9";
}
.ico-plus:before {
  content: "\ea0a";
}
.ico-cross:before {
  content: "\ea0f";
}
.ico-checkmark:before {
  content: "\ea10";
}
