@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "normalize.scss";
@import 'fonticon';

$color: #99042f;
$color-highlight: lighten($color, 10%);
$secondary: #515255;


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $secondary;
}

body,
html,
#wrapper {
    height: 100%;
    line-height: 1.5;
}


#wrapper {
    display: flex;
    flex-direction: column;
    > div {
        flex: 0 0 auto;
    }
    #content {
        flex: 1 1 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    .upline,
    .menu {
        display: flex;
        height: 40px;
        background-color: white;
        align-items: center;
        background-color: #414243;
    }

    .upline {
        background-color: white;
    }

    .menu-mobile {
        display: none;
    }

    .menu {
        list-style-type: none;
        justify-content: flex-end;
        border-bottom: 1px solid white;
    }

    .upline-inner,
    .menu-inner {
        @extend %inner;
        text-align: right;

    }
    .upline-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > span, > a {
            display: block;
            margin-left: 16px;
        }
    }
    .fb-link {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 32px !important;
        background-image: url('images/facebook.png');
    }
}

#menu {
    list-style-type: none;
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 100%;
    li {
        display: flex;
        align-items: center;
        height: 100%;
        display: block;
        &.current-menu-item {
            a {
                background-color: rgba(255,255,255,.3);
            }
        }
        a {
            padding: 0 16px;
            transition: 180ms linear;
            &:hover {
                background-color: rgba(255,255,255,.3);
            }
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
        }
    }
}

.header-image {
    height: 40vh;
    background-size: cover;
    background-position: center;
    &.isIndex {
        height: 65vh;
    }
}

.logo-container {
    position: relative;
    @extend %inner;
}

.logo {
    display: block;
    width: 241px;
    height: 130px;
    background-image: url('images/logo.png');
    background-size: contain;
    background-size: 185px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    z-index: 2;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.35);
    position: absolute;
    top: 0;
    left: 0;

}

.bft {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    &:before,
    &:after {
        content: '';
        display: block;
        flex: 1 1 100%;
        height: 1px;
        background-color: #a1a2a3;
    }
    span {
        flex: 0 0 auto;
        padding: 0 16px;
        color: #616263;
        font-weight: 300;
        font-size: 18px;
    }
    &:before {
        flex: 0 0 24px;
        width: 24px;
    }
}

/*
Theme Name: Royal Immobiliare
Author: Luca Raffo, Franco Traversaro
Author URI: mailto:f.traversaro@gmail.com
*/



#wrapper {
    display: flex;
    flex-direction: column;
    > div {
        flex: 0 0 auto;
    }
    #content {
        margin-top: 32px;
        flex: 1 1 100%;
    }
}

%inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

#header-inner {
    @extend %inner;
    z-index: 2;
    display: flex;
    align-items: center;
}
#content-inner {
    @extend %inner;
}

#logo-container {
    flex: 1 1 auto;
}
#menu-container {
    flex: 1 1 auto;
    text-align: right;
}

.title {
    color: $color;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

article {
    padding: 30px 50px;
    border: 1px solid #e1e2e3;
    background-color: #f1f2f3;
    text-align: justify;
    .entry-title {
        @extend .title;
    }
    .entry-content {
        font-size: 16px;
        line-height: 1.6;
        color: $secondary;
        p, ul {
            margin-bottom: 16px;
        }
    }
}

.text-center {
    text-align: center;
}



#menu-mobile {
    display: none;
    .toggler-ico {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 32px;
    }
    .toggler-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.35);
        opacity: 0;
        z-index: -9999;
        margin: 0;
        transition: 150ms;
        pointer-events: none;
        &.visible {
            z-index: 3;
            opacity: 1;
            cursor: pointer;
            pointer-events: initial;
        }
    }
    .menu-mobile-inner {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        width: 100%;
        max-width: 300px;
        list-style-type:none;
        padding: 30px 0;
        transform: translateX(300px);
        transition: 180ms;
        z-index: 5;
        &.visible {
            transform: none;
        }
        li {
            a {
                padding: 15px;
                display: block;
                text-decoration: none;
                font-size: 18px;
                color: $secondary;
                &.active,
                &:hover {
                    background-color: #f1f1f1;
                    color: $color;
                }
                &.active {
                    box-shadow: inset -3px 0 0 0 $color;
                }
            }
        }
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    &.evidenziata {
        // border: 2px solid $color;
        .item > a {
            box-shadow: none;
            background-color: #f1f2f3;
            border: 1px solid #e1e2e3;
        }
    }
    &.flex-start {
        align-items: flex-start;
    }
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    .paddless {
        padding:0 !important;
    }
    .col {
        flex: 1 1 100%;
    }
    .item-row {
        display: flex;
        background-color: #f1f2f3;
        overflow: hidden;
        border: 1px solid #e1e2e3;
        // border-radius:3px;
        &:not(:last-child) { margin-bottom: 10px;}
        > a,
        > div {
            display: block;
            position: relative;
        }
        > div {
            padding: 20px;
            flex: 1;
        }
        > a {
            flex: 0;
        }
        .item-row-cover-image {
            $border-width: 10px;
            width: 280px;
            height: 185px;
            border: $border-width solid white;
            background-size: auto 110%;
            background-position: center;
            position: relative;
            transition: all 150ms ease-in-out;
            box-shadow: 0 0 0 3px #fff;
            &:hover {
                background-size: auto 100%;
            }
        }
        .item-row-price {
            position: absolute;
            top: 20px;
            right: 25px;
            text-transform: uppercase;
            text-align:right;
            font-weight: bold;
        }
        .item-row-info {
            .item-row-location{
                font-weight: bold;
                text-transform: uppercase;
            }
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            > div {
                flex: 0 0 auto;
                line-height: 1.3;
                &:not(:last-child){
                    // padding-bottom: 3px;
                }
            }
            > .item-row-excerpt {
                flex: 1 1 auto;
            }
        }
    }
    .item {
        padding: 10px;
        a {
            overflow: hidden;
            display: block;
            background-color: white;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            box-shadow: 0 2px 3px 0px rgba(0,0,0,.5);
            text-decoration: none;
            transition: 180ms linear;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                pointer-events: none;
                transition: 200ms linear;
            }
            &:hover {
                // box-shadow: 0 2px 3px 0px rgba(0,0,0,.5), 0 0 5px $secondary;
                &:after {
                    // background-color: #f1f2f3;
                }
                .item-cover-image {
                    background-size: auto 100%;
                }
            }
            &,
            &:visited {
                color: #555;
            }
        }
        .item-cover-image {
            background-color: #ccc;
            background-size: auto 110%;
            background-position: center;
            position: relative;
            transition: all 150ms ease-in-out;
            overflow: hidden;
            width: 100%;
            padding-bottom: 100%;
            // &:before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     height: 25%;
            //     background: linear-gradient(to top, black, transparent);
            // }
        }
        .item-price {
            position: absolute;
            top: 10px;
            right: 0px;
            color: $secondary;
            background-color: #f1f2f3;
            display: none;
            font-size: 14px;
            padding: 10px;
            font-weight: 300;
            text-align:right;
        }
        .item-info,
        .item-desc {
            padding: 10px;
            font-size: 12px;
        }
        .item-info {
            border-bottom: 1px solid #e1e2e3;
            display: flex;
            align-items: center;
        }
        .item-location {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

    }
}

.item-type {
    display: none;
    font-size: 24px;
}

#footer {
    background-color: $secondary;
    // border-top: 5px solid $color;
    margin-top: 50px;

    #footer-inner {
        @extend %inner;
        padding: 20px 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        a {
            &,
            &:visited {
                color: white;
            }
            &:hover {
                color:  $color-highlight;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        > div {
            padding: 10px;
        }
        #contacts {
            color: white;
            flex: 1;
            font-size: 14px;
        }
        #info {
            color: transparent;
        }
    }

    #footer-logo {
        flex: 0 1 140px;
        display: block;
        width: 140px;
        height: 85px;
        background-image: url('images/logo_white.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.immobili-menu-trigger {
    cursor: pointer;
    &:hover {
        color: $color-highlight;
    }
    display: none;
}
.immobili_menu_header {
    // margin: 0 auto 30px;
    text-align: center;
    display: flex;
    h2 {
        flex: 1 1 100%;
        display: flex;
        margin-bottom: 20px;
    }
    .immobili_contratto {
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        // margin: 4px;
        flex: 1 1 100%;
    }
    .immobili_contratto {
        cursor: pointer;
        font-size: 16px;
        padding: 20px 10px;
        // border-radius: 3px;
        text-decoration: none;
        color: $secondary;
        background-color: #e1e2e3;
        transition: 180ms linear;
        text-transform: uppercase;
        font-weight: bold;
        &:hover{
            color: $color;
            background-color: #d1d2d3;
        }
        &.active {
            color: white;
            background-color: $secondary;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                border-top: 10px solid $secondary;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }
    }
}

.immobili_menu_container {
    background-color: #f1f2f3;
    // border: 1px solid $color;
    height: 100%;
}

.immobili_menu {
    display: none;
    padding: 10px;
    &.visible {
        display: block;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        li {
            // padding: 3px 10px;
            margin-bottom: 5px;
            border-left: 2px solid transparent;
            &.active {
                border-color: $color;
                a {
                    color: $color;
                }
            }

        }
        .immobili_title {
            &, a {
                color: #919293 !important;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                [class^="ico-"], [class*=" ico-"]{
                    font-size: 18px;
                    margin-bottom: 5px;
                }
            }
        }
        a {
            text-decoration: none;
            color: $secondary;
            &:hover {
                color: $color;
            }
            display:inline-block;
            margin-right: 5px;
        }
        .immobili_quantity {
            color: #999;
        }
    }
}

@media (min-width: 1101px) {
    .paddless-left {
        padding-left: 0 !important;
    }
    .col {
        @for $i from 1 through 12 {
            &.lg-#{$i} {
                flex: 0 0 (100% / (12/$i) );
            }
            &.lg-offset-#{$i} {
                margin-left: (100% / (12/$i) );
            }
        }
    }
}
@media (max-width: 1100px) {
    #menu {
        display: none;
    }
    #menu-mobile {
        display: block;
    }
    .col {
        @for $i from 1 through 12 {
            &.md-#{$i} {
                flex: 0 0 (100% / (12/$i) );
            }
            &.md-offset-#{$i} {
                margin-left: (100% / (12/$i) );
            }
        }
    }
    .immobili_menu_container {
        background-color: transparent;
        position: fixed;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        cursor: pointer;
        transition: 180ms linear;
        .immobili_menu_inner {
            transition: 180ms linear;
            cursor: default;
            background-color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            max-width: 300px;
            // padding: 20px;
            // padding-top: 50px;
            overflow-y: auto;
            transform: translateX(-300px);
        }
        &.open {
            background-color: rgba(0,0,0,.35);
            pointer-events: initial;
            .immobili_menu_inner {
                transform: translateX(0);
            }
        }
    }
    .immobili-menu-trigger {
        display:inline-block;
        // text-align: center;
        padding: 20px;
    }
}
@media (max-width: 800px) {
    .col {
        @for $i from 1 through 12 {
            &.sm-#{$i} {
                flex: 0 0 (100% / (12/$i) );
            }
            &.sm-offset-#{$i} {
                margin-left: (100% / (12/$i) );
            }
        }
    }
}
@media (max-width: 600px) {
    .col {
        @for $i from 1 through 12 {
            &.xs-#{$i} {
                flex: 0 0 (100% / (12/$i) );
            }
            &.xs-offset-#{$i} {
                margin-left: (100% / (12/$i) );
            }
        }
    }
}

.annuncio-border {
    // border: 1px solid $color;
}

.annuncio-recap {
    display: flex;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 300;

    > ul {
        flex: 1 1 100%;
        &.price {
            // color: white;
            flex: 0 0 auto;
        }
    }
}

.annuncio-recap, .annuncio-slideshow-thumbs {
    background-color: #f1f2f3;
    padding: 10px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            padding: 5px 10px;
            margin: 0;
            &:not(:last-child) {
                border-right: 1px solid #999;
            }
        }
    }
}

.annuncio-slideshow {
    background-color: #ccc;
    width: 100%;
    padding-bottom: (100 * 9 / 16) * 1%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    .controls {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        cursor: pointer;
        &:hover {
            .ico {
                color: $secondary;
            }
        }
        .ico {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 64px;
            color: white;
            &:hover {
            }
        }
        &.slide-prev {
            left: 0;
            right: 50%;
            background: linear-gradient(to right, rgba(0,0,0,.35), transparent);
            .ico {
                left: 10px;
            }
        }
        &.slide-next {
            left: 50%;
            right: 0;
            background: linear-gradient(to left, rgba(0,0,0,.35), transparent);
            .ico {
                right: 10px;
            }
        }
        &.slide-prev,
        &.slide-next {
            &.disabled {
                pointer-events: none;
                .ico {
                    display: none;
                }
            }
        }
    }
    .annuncio-slideshow-inner {
        position: absolute;
        top: 0;
        left: 0;
        // right: 0;
        width: 100%;
        bottom: 0;
        transition: all 0.35s linear;
        > div {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            float:left;
            width:1200px;
            height: 100%;
            // position: absolute;
            // top:0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // z-index: 1;
        }
    }
}

.annuncio-slideshow-thumbs {
    display: flex;
    overflow: hidden;
    // overflow-x: auto;
    .annuncio-slideshow-thumbs-inner {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 100%;
        justify-content: center;
        transform: translateX(0);
        > div {
            width: 64px;
            height: 64px;
            flex: 0 0 64px;
            background-size: cover;
            margin: 0 10px;
            cursor: pointer;
            &:hover,
            &.selected {
                box-shadow: inset 0 0 0 4px #919293;
            }
        }
    }
}

.annuncio-tab-table {
    .annuncio-tab {
        display: inline-block;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        // border: 1px solid $color;
        border-bottom: 0;
        cursor: pointer;
        background-color: white;
        &:hover {
        }
        &.active {
            background-color: #f1f2f3;
        }
    }
    .annuncio-tab-content {
        display: block;
        background-color: #f1f2f3;
        padding: 10px;
        // border: 1px solid $color;
        &:not(.active) {
            display: none;
        }
        a {
            text-decoration: none;
            &, &:visited {
                color: $secondary;
            }
            &:hover {
                color: $color;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                &:not(:last-child){
                    th, td {
                        border-bottom: 1px solid #e1e2e3;
                    }
                }
            }
            th, td {
                padding: 10px;
            }
            th {
                width: 150px;
                text-align: right;
            }
        }
    }
}

.annuncio-info {
    padding: 10px 0;
    div {
        padding-right: 0;
        padding-left: 0;
    }
    margin-top: 20px;
    h3 {
        color: $secondary;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
    }
    .col {
        margin-bottom: 20px;
        padding: 20px;
    }
    .annuncio-price{ font-size: 18px};
}
input[type="text"],
textarea {
    display: block;
    width: 100%;
    border: 1px solid #e1e2e3;
    padding: 10px;
    border-radius: 3px;
    outline: none;
}
.royalFormInfo {
    input,
    textarea {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.text {
    padding: 20px;
    h1 {
        color: $color;
    }
    h2 {
        color: $color;
        text-transform: uppercase;
        font-size: 21px;
        margin-bottom: 20px;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

table.searchform {
    border:0;
    border-collapse: collapse;
    tr {
        &:nth-child(even) {
            background-color: #f1f2f3;
        }
        border-bottom: 1px solid #e1e2e3;
        th,
        td {
            padding: 10px 5px;
        }
        th {
            width: 1%;
        }
    }
    td .range {
        // display: flex;
        // align-items: center;
        // flex-flow: row wrap;
        input[type="text"], span {
            // float: left;
            display: inline-block;
            width: auto;
            // border: none;
            // width: 100px;
        }

    }
}

.searchform {
    // border: 1px solid $color;
    .searchform-row {
        padding: 20px;
        // border-bottom: 1px solid #e1e2e3;
        background-color: #f1f2f3;
    }
    .searchform-title {
        color: #919293;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }
}

#royalMapSearch {
    // border: 1px solid $color;
}

#royalMapSearchForm {
    h3 {
        color: #919293;
        font-size: 21px;
        margin: 20px auto;
        text-align: center;
    }
    h4 {
        color: #919293;
        // text-align: center;
    }
    .fake-checkbox {
        display: block;
    }
}


.admin-bar {
    #header {
        &.fixed {
            top: 32px;
        }
    }
}

.input-range {
    display: flex;
    align-items: center;
    > div {
        flex: 0 1 auto;
        padding: 3px;
    }
    input[type="text"] {
        border: 1px solid #e1e2e3;
        width: 100% !important;
    }
}

.salva-ricerca {
    padding: 20px;
    width: 100%;
    background-color: #f1f2f3;
    margin-bottom: 20px;
    h3 {
        color: $color;
        margin-bottom: 10px;
        font-weight: 400;
    }
    form {
        display: flex;
        align-items: flex-end;
    }
    .input-holder {
        flex: 1 1 auto;
        padding: 10px;
        label {
            display: block;
            margin-bottom: 5px;
        }
    }
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
    background-color: white;
    &:hover {
        background-color: $color;
        color: white;
    }
}

.fake-checkbox {
    display: block;
    list-style-type:none;
    margin: 0;
    padding: 0;
    input {
        display: none;
        + label {
            display: inline-block;
            cursor: pointer;
            // padding: 3px 7px;
            border-radius: 3px;
            margin: 3px;
            color: $secondary;
            // border: 1px solid transparent;
            background-color: transparent;
            &:hover {
                // border-color: $color;
            }
        }
        &:checked {
            + label {
                // background-color: $color;
                font-weight: bold;
                // border: 1px solid $color;
            }
        }
    }
}

#royalMapSearchContratto {
    display: flex;
    background-color: #f1f2f3;
    padding-bottom: 20px;
}

.fake-radio-menu {
    flex: 1 1 auto;
    text-align: center;
    input {
        display: none;
        + label {
            cursor: pointer;
            display: block;
            font-size: 16px;
            padding: 20px 10px;
            text-decoration: none;
            color: $secondary;
            background-color: #e1e2e3;
            transition: 180ms linear;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
                color: $color;
                background-color: #d1d2d3;
            }
        }
        &:checked {
            + label {
                background-color: $secondary;
                color: white;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    border-top: 10px solid $secondary;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
            }
        }
    }
}

.ask-info {
    background-color: #f1f2f3;
    // border: 1px solid $color;
    // box-shadow: 0 2px 3px -1px rgba(0,0,0,.35);
    // border-radius: 4px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: $secondary;
    padding: 15px 10px;
    line-height: 1;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    transition: 180ms linear;
    &:hover {
        background-color: $color;
    }
}

.watermarked {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    }
.watermarked span {
    display:block;
    line-height: 200px;
    text-align: center;
    font-size: 36px;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .7;
 }

.tel-link {
    span {
        display: inline-block;
        vertical-align: middle;
    }
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-image: url('images/phone-receiver.png');
    }
}
.fb-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 32px;
    background-image: url('images/facebook.png');
}
